<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile Page</title>
</head>

<body>
     <!-- <%- %> This bracket is used for .ejs file type HTML page -->
     <%- include("common/header"); %> 
    <h1>Profile Page</h1>
    <div style="align-content: center;">
        <h3>Welcome, <%=userProfileData.name%>
        </h3>
        <h4>Email: <%=userProfileData.emailId%>
        </h4>
        <h4>Contact: <%=userProfileData.phoneNumber%>
        </h4>
        <h4>Address: <%=userProfileData.Address%>
        </h4>
        <ul>
            <% userProfileData.skills.forEach((item)=>{ %>
                <li><%=item %></li>
            <% }) %>
        </ul>
    </div>
</body>

</html>